@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./header.css);
@import url(./hero.css);
@import url(./banner1.css);
@import url(./services.css);
:root{
  --tipo: "Roboto", serif;
  --bg-primario: #F5F5F5;
  --bg-secundario: #fff;
  --bg-terciario:#9933cc
  --btn-principal: #007BFF;/*  #28A745 */
  
}




html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  background-color: black;
}

h1{
  font-size: 3.5rem;

}

h2{
  font-size: 3rem;
}

h3{
 font-size: 1.75;
}

p,a{
  font-size: 1.5rem;
}




.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

.content{
  max-width: 130rem;
   margin: 0 auto;
}

