@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

header h1 {
  color: #9933cc;
  font-weight: bold;
  font-size: 3.5rem;
}
