.contact {
  display: flex;
  justify-content: space-around;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  align-items: center;
}

.form {
  color: #fff;
  padding: 2rem;
  display: flex;
  width: 100%;
  margin: auto;
}

.form fieldset {
  border: none;
  margin-bottom: 5rem;
}

.form fieldset legend {
  color: rgb(229, 152, 196);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.box_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media (min-width: 720px) {
  .box_form {
    width: 600px;
  }
}

.box_form label {
  margin-bottom: 0.9rem;
}

.box_form input,
.box_form textarea {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.img {
  display: none;
}

@media (min-width: 720px) {
  .img {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
  }
}

.contact .img img {
  width: 100%;
  border-radius: 50rem;
  height: 420px;
  margin-bottom: 5rem;
}
