.hero {
  margin-top: 10rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background-color: #000;
  color: #fff;
  text-align: left;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.text {
  padding: 1rem;
  margin-bottom: 10rem;
}

.text h2 {
  font-size: 7rem;
  text-align: center;
  color: rgb(229, 152, 196);
}

.text p {
  font-size: 2.5rem;
  margin: 1rem;
}

.content_img {
  width: 30%;
}

.image {
  width: 100%;
  height: 200px;
}

@media (min-width: 720px) {
  .hero {
    margin: 0;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 800px;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
  }

  .text {
    padding: 2rem;
  }

  .text h2 {
    text-align: left;
    margin-left: 5rem;
  }

  .content_img {
    width: 40%;
    margin-top: 50px;
    padding-top: 10px;
  }
  .image {
    width: 100%;
    height: 250px;
    margin-left: 50px;
  }
}
