.banner2 {
  background-image: url("https://images.unsplash.com/photo-1423666639041-f56000c27a9a?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 610px;
  margin-bottom: 2rem;
  position: relative;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row-reverse;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  overflow-x: hidden;
}

@media (min-with: 720px) {
  .banner2 {
    background-position: none;
  }
}
.content_banner2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 610px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-top: 2rem;
}
@media (min-width: 720px) {
  .banner2 {
    background-image: url("https://images.unsplash.com/photo-1423666639041-f56000c27a9a?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 510px;
  }
  .content_banner2 {
    flex-direction: row;
    justify-content: space-around;
    height: 510px;
  }
}

.content_banner2 h2 {
  color: #4aa3ff;
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}

@media (min-width: 720px) {
  .content_banner2 h2 {
    font-size: 5rem;
    margin: 16rem 0;
  }
}

.info {
  height: auto;
  text-align: center;
}
.info ul {
  list-style: none;
  padding: 3rem 1rem;
  border-radius: 10px;
  color: #fff;
  height: 400px;
}
.info ul li {
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info ul li p {
  font-size: 2rem;
}

@media (min-width: 720px) {
  .info ul li {
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
  }
  .info ul li p {
    margin-left: 2rem;
  }
}

.content-banner2 ul li:last-child {
  margin-bottom: 0;
}
