@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  background-color: black;
  font-family: "Roboto", serif;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.75;
}

p,
a {
  font-size: 1.5rem;
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

.content {
  max-width: 130rem;
  margin: 2rem auto;
}

.btn {
  background-color: #9933cc;
  padding: 1rem;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 1rem;

  display: inline;
}

.btn:hover {
  /*  background-color: #4aa3ff; */
  background-color: #66ffcc;
  color: #000;
  cursor: pointer;
}

.w-sm-100 {
  width: 100%;
}

@media (min-width: 720px) {
  .w-sm-100 {
    width: 50%;
  }
}

.content-y-hidden {
  overflow-y: hidden;
}

.flex {
  display: flex;
}

.alinear_derecha {
  justify-content: flex-end;
}

.w_sm_100 {
  width: 100%;
}

.mt-1 {
  margin-top: 0.5rem;
}

.text-red {
  color: red;
  font-size: 3rem;
}
